<!--<div class="container w-75 mt-4 text-center" style="font-size: 30px; color: black">-->
<!--  <div class="row">-->
<!--    <div class="col-md-2 mb-4">-->
<!--      <furigana [word]="'日の人'" [reading]="'ひのひと'"></furigana>-->
<!--      <div class="text-muted" style="font-size: 16px">Kana between Kanji</div>-->
<!--    </div>-->
<!--    <div class="col-md-2 mb-4">-->
<!--      <furigana [word]="'あの日の人'" [reading]="'あのひのひと'"></furigana>-->
<!--      <div class="text-muted" style="font-size: 16px">Kana between Kanji</div>-->
<!--    </div>-->
<!--    <div class="col-md-2 mb-4">-->
<!--      <furigana word="対抗する" reading="たいこうする"></furigana>-->
<!--      <div class="text-muted" style="font-size: 16px">Trailing kana</div>-->
<!--    </div>-->
<!--    <div class="col-md-2 mb-4">-->
<!--      <furigana [word]="'ぶん回す'" [reading]="'ぶんまわす'"></furigana>-->
<!--      <div class="text-muted" style="font-size: 16px">Kanji between kana</div>-->
<!--    </div>-->
<!--    <div class="col-md-2 mb-4">-->
<!--      <furigana [word]="'稲葉曇'" [reading]="'いなばくもり'"></furigana>-->
<!--      <div class="text-muted" style="font-size: 16px">Full kana</div>-->
<!--    </div>-->
<!--    <div class="col-md-2 mb-4">-->
<!--      <furigana [word]="'日'" [reading]="'にち'"></furigana>-->
<!--      <div class="text-muted" style="font-size: 16px">Full kana</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div style="font-size: 80px; padding: 30px">
  <furigana [word]="'寄り添って笑顔にしたり'" [reading]="'よりそってえがおにしたり'"></furigana>
</div>


